https://www.kaggle.com/epa/fuel-economy
Fuel economy data are produced during vehicle testing at the Environmental Protection Agency's National Vehicle and Fuel Emissions Laboratory in Ann Arbor, Michigan, and by vehicle manufacturers with EPA oversight.

In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [4]:
csv_file = "Resources/database.csv"
fuel_economy = pd.read_csv(csv_file)
fuel_economy.head()

C:\Users\mandi\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (7,16,62,64,65,67,68,78) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Vehicle ID,Year,Make,Model,Class,Drive,Transmission,Transmission Descriptor,Engine Index,Engine Descriptor,...,Hours to Charge (AC 240V),Composite City MPG,Composite Highway MPG,Composite Combined MPG,Range (FT1),City Range (FT1),Highway Range (FT1),Range (FT2),City Range (FT2),Highway Range (FT2)
0,26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,NaN,Manual 5-Speed,NaN,9001,(FFS),...,0.0,0,0,0,0,0.0,0.0,NaN,0.0,0.0
1,27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,NaN,Manual 5-Speed,NaN,9005,(FFS) CA model,...,0.0,0,0,0,0,0.0,0.0,NaN,0.0,0.0
2,26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,NaN,Manual 5-Speed,NaN,9002,(FFS),...,0.0,0,0,0,0,0.0,0.0,NaN,0.0,0.0
3,27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,NaN,Manual 5-Speed,NaN,9006,(FFS) CA model,...,0.0,0,0,0,0,0.0,0.0,NaN,0.0,0.0
4,27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,2-Wheel Drive,Automatic 3-Speed,NaN,1830,(FFS),...,0.0,0,0,0,0,0.0,0.0,NaN,0.0,0.0

In [7]:
fuel_economy['Composite Combined MPG'].describe()

count    38113.000000
mean         0.081311
std          2.097794
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max         88.000000
Name: Composite Combined MPG, dtype: float64

https://data.world/us-doe-gov/377635eb-254e-49df-b984-b3ce585b028f
Fuel economy data are the result of vehicle testing done at the Environmental Protection Agency's National Vehicle and Fuel Emissions Laboratory in Ann Arbor, Michigan, and by vehicle manufacturers with oversight by EPA. The Find a Car vehicle table contains fuel economy information for 1984-current model year vehicles. The data are available for download in CSV and XML formats:

Source: https://catalog.data.gov/dataset/fuel-economy-data-decb0
Last updated at https://catalog.data.gov/organization/doe-gov : 2019-08-01

In [13]:
csv_file2 = "Resources/vehicles.csv"
fuel_economy_data = pd.read_csv(csv_file2)
fuel_economy_data.head()

C:\Users\mandi\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (68,70,71,72,73,74,76,79) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,15.695714,0.0,0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,29.964545,0.0,0,0.0,9,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,12.207778,0.0,0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
3,29.964545,0.0,0,0.0,10,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
4,17.347895,0.0,0,0.0,17,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

In [14]:
fuel_economy_data.describe()

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,UCity,UCityA,UHighway,UHighwayA,year,youSaveSpend,charge240b,phevCity,phevHwy,phevComb
count,41342.000000,41342.000000,41342.0,41342.000000,41342.000000,41342.000000,41342.000000,41342.000000,41342.000000,41342.000000,...,41342.000000,41342.000000,41342.000000,41342.000000,41342.000000,41342.000000,41342.000000,41342.000000,41342.000000,41342.000000
mean,17.273710,0.220596,0.0,0.045526,18.382565,6.051678,0.667505,0.522278,0.000459,0.324528,...,23.222574,0.863475,34.368674,1.146955,2001.623506,-3792.922452,0.010159,0.154032,0.153815,0.153258
std,4.621490,1.141429,0.0,0.608984,7.926209,11.689269,5.239748,5.089573,0.038681,3.794382,...,11.258293,7.345751,11.275785,7.784927,11.188251,3187.249807,0.240345,2.953323,2.836228,2.882116
min,0.060000,0.000000,0.0,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1984.000000,-28250.000000,0.000000,0.000000,0.000000,0.000000
25%,14.330870,0.000000,0.0,0.000000,15.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,18.268400,0.000000,27.931325,0.000000,1991.000000,-5500.000000,0.000000,0.000000,0.000000,0.000000
50%,16.480500,0.000000,0.0,0.000000,17.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,21.400000,0.000000,33.298750,0.000000,2002.000000,-3750.000000,0.000000,0.000000,0.000000,0.000000
75%,19.388824,0.000000,0.0,0.000000,21.000000,14.208100,0.000000,0.000000,0.000000,0.000000,...,25.989800,0.000000,39.000000,0.000000,2012.000000,-1750.000000,0.000000,0.000000,0.000000,0.000000
max,47.087143,18.311667,0.0,13.000000,150.000000,150.000000,145.000000,145.083500,5.350000,122.000000,...,224.800000,207.262200,182.700000,173.143600,2020.000000,5250.000000,8.500000,97.000000,81.000000,88.000000

https://data.world/city-of-ny/mn2p-34if
This is a report of city vehicles and actual MPG compared to EPA estimated MPG. Each line of data is a combination of all the active vehicles on the cityâ€™s telematics system broken down into year/make/model/standard type with fueling and usage data. The intent is for each line to represent the sticker MPG and the real-world MPG and how these compare to each other. The report can be found at https://www1.nyc.gov/assets/dcas/downloads/pdf/fleet/NYC-Fleet-Newsletter-306-May-27-2020-Hybrids-Work-Even-Better-in-Reality-Than-in-Theory.pdf.

Source: https://data.cityofnewyork.us/d/mn2p-34if
Last updated at https://data.cityofnewyork.us/data.json : 2021-11-30
Attribution is encouraged by New York City. Please visit New York City's open data portal for more information about the Terms of Use.

In [15]:
csv_file3 = "Resources/real-world-fuel-efficiency-1.csv"
fuel_economy_ny = pd.read_csv(csv_file3)
fuel_economy_ny.head()

,YEAR,MAKE,MODEL,Hybrid/Non-Hybrid,STANDARD TYPE,EPA RATING (CITY),Vehicle Count,TOTAL ACTUAL MILES,TOTAL ACTUAL FUEL,EPA EXPECTED FUEL,ACTUAL FUEL ECONOMY Geotab,PERCENT % DIFFERENCE ACTUAL TO EPA,ESTIMATED FUEL COSTS PER GALLON,FUEL COSTS PER MILE
0,2008,HONDA,CIVIC GX,Non-Hybrid,SEDAN,24,9,4459,221.0,185.79,20.18,-0.16,$552.50,$0.12
1,2008,FORD,CROWN VIC,Non-Hybrid,SEDAN,11,7,17162,1771.0,1560.18,9.69,-0.12,"$4,427.50",$0.26
2,2008,CHEVROLET,EXPRESS,Non-Hybrid,VAN,13,1,413,65.0,31.77,6.35,-0.51,$162.50,$0.39
3,2008,FORD,FOCUS,Non-Hybrid,SEDAN,24,49,13074,793.0,544.75,16.49,-0.31,"$1,982.50",$0.15
4,2008,FORD,FUSION,Non-Hybrid,SEDAN,18,5,29482,1813.0,1637.89,16.26,-0.10,"$4,532.50",$0.15

In [16]:
fuel_economy_ny.describe()

,YEAR,EPA RATING (CITY),Vehicle Count,TOTAL ACTUAL MILES,TOTAL ACTUAL FUEL,EPA EXPECTED FUEL,ACTUAL FUEL ECONOMY Geotab,PERCENT % DIFFERENCE ACTUAL TO EPA
count,106.000000,106.000000,106.000000,1.060000e+02,106.000000,106.000000,106.000000,106.000000
mean,2013.698113,23.254717,38.320755,1.742588e+05,8470.372642,6903.022358,19.883491,-0.166321
std,3.165799,11.495806,51.139128,2.837817e+05,9212.284006,7641.761732,12.329095,0.226229
min,2008.000000,9.000000,1.000000,4.130000e+02,65.000000,31.770000,5.350000,-0.670000
25%,2011.000000,15.000000,10.000000,3.217475e+04,1765.750000,1412.797500,10.545000,-0.317500
50%,2014.000000,19.000000,20.500000,8.400450e+04,5365.500000,4511.125000,14.930000,-0.160000
75%,2016.000000,28.000000,45.750000,1.800435e+05,11911.500000,9723.207500,26.090000,-0.040000
max,2019.000000,55.000000,327.000000,2.144639e+06,44874.000000,44679.980000,54.580000,0.730000