In [1]:
import pandas as pd
from sqlalchemy import create_engine

Source: https://www.kaggle.com/rupeshraundal/marketcheck-automotive-data-us-canada
        
Context
MarketCheck's automotive data covers 8 years of inventory across the US and Canada. Each day our systems crawl and aggregate inventory from over 65k dealer websites to deliver the most comprehensive and up-to-date depictions of market activity available anywhere.

Individual listing records show year, make, model and trim, with VIN-level histories, showing the most recent time the car showed up online back to the earliest, with every change that occurred over that time.

Equipment breakdowns give fuel type, engine size, transmission, color, driveline and body style with links back to the VDP of the source we obtained the information from. The complete data dictionary can be found here - https://storage.googleapis.com/marketcheck-sample-feeds/cars_data_dictionary.xlsx
In addition to our car inventory data, Marketcheck also provide several other powerful APIs for CRM marketing scrubs, basic VIN decoding, OEM build data, recalls, dealer profiles, and market activity. Visit us for more details at www.marketcheck.com

Join the discussion at Marketcheck forum

In [3]:
csv_file = "Resources/us-dealers-used_2012.csv"
used_cars = pd.read_csv(csv_file)
used_cars.head()

C:\Users\mandi\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (20) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,id,vin,price,miles,stock_no,year,make,model,trim,body_type,...,drivetrain,transmission,fuel_type,engine_size,engine_block,seller_name,street,city,state,zip
0,38b2f52e-8f5d,1GCWGFCF3F1284719,20998.0,115879.0,W1T503168C,2015.0,Chevrolet,Express Cargo,Work Van,Cargo Van,...,RWD,Automatic,E85 / Unleaded,4.8,V,nissan ellicott city,8569 Baltimore National Pike,Ellicott City,MD,21043
1,97ba4955-ccf0,WBY7Z8C59JVB87514,27921.0,7339.0,P33243,2018.0,BMW,i3,s,Hatchback,...,RWD,Automatic,Electric / Premium Unleaded,0.6,I,hendrick honda pompano beach,5381 N Federal Highway,Pompano Beach,FL,33064
2,be1da9fd-0f34,ML32F4FJ2JHF10325,11055.0,39798.0,WM2091A,2018.0,Mitsubishi,Mirage G4,SE,Sedan,...,FWD,Automatic,Unleaded,1.2,I,russ darrow toyota,2700 West Washington St.,West Bend,WI,53095
3,84327e45-6cb6,1GCPTEE15K1291189,52997.0,28568.0,9U2Y425A,2019.0,Chevrolet,Colorado,ZR2,Pickup,...,4WD,Automatic,Diesel,2.8,I,young kia,308 North Main Street,Layton,UT,84041
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
used_cars.describe()

              price         miles           year    engine_size
count  8.765070e+05  9.408030e+05  948317.000000  931604.000000
mean   2.617812e+04  4.362724e+04    2017.419534       2.322013
std    1.828587e+04  3.459481e+04       2.134157       0.903952
min    0.000000e+00  0.000000e+00    2012.000000       0.600000
25%    1.699500e+04  1.948000e+04    2016.000000       2.000000
50%    2.199900e+04  3.407500e+04    2018.000000       2.000000
75%    2.999900e+04  6.040200e+04    2019.000000       2.500000
max    1.495000e+06  1.500315e+06    2022.000000      30.000000

In [5]:
csv_file2 = "Resources/real-world-fuel-efficiency-1.csv"
fuel_economy_ny = pd.read_csv(csv_file2)
fuel_economy_ny.head()

,YEAR,MAKE,MODEL,Hybrid/Non-Hybrid,STANDARD TYPE,EPA RATING (CITY),Vehicle Count,TOTAL ACTUAL MILES,TOTAL ACTUAL FUEL,EPA EXPECTED FUEL,ACTUAL FUEL ECONOMY Geotab,PERCENT % DIFFERENCE ACTUAL TO EPA,ESTIMATED FUEL COSTS PER GALLON,FUEL COSTS PER MILE
0,2008,HONDA,CIVIC GX,Non-Hybrid,SEDAN,24,9,4459,221.0,185.79,20.18,-0.16,$552.50,$0.12
1,2008,FORD,CROWN VIC,Non-Hybrid,SEDAN,11,7,17162,1771.0,1560.18,9.69,-0.12,"$4,427.50",$0.26
2,2008,CHEVROLET,EXPRESS,Non-Hybrid,VAN,13,1,413,65.0,31.77,6.35,-0.51,$162.50,$0.39
3,2008,FORD,FOCUS,Non-Hybrid,SEDAN,24,49,13074,793.0,544.75,16.49,-0.31,"$1,982.50",$0.15
4,2008,FORD,FUSION,Non-Hybrid,SEDAN,18,5,29482,1813.0,1637.89,16.26,-0.10,"$4,532.50",$0.15

In [48]:
fuel_economy_ny = fuel_economy_ny.drop('Vehicle Count', 1)
fuel_economy_ny

C:\Users\mandi\AppData\Local\Temp/ipykernel_11128/1540716452.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  fuel_economy_ny = fuel_economy_ny.drop('Vehicle Count', 1)

,YEAR,MAKE,MODEL,Hybrid/Non-Hybrid,STANDARD TYPE,EPA RATING (CITY),TOTAL ACTUAL MILES,TOTAL ACTUAL FUEL,EPA EXPECTED FUEL,ACTUAL FUEL ECONOMY Geotab,PERCENT % DIFFERENCE ACTUAL TO EPA,ESTIMATED FUEL COSTS PER GALLON,FUEL COSTS PER MILE
0,2008,HONDA,CIVIC GX,Non-Hybrid,SEDAN,24,4459,221.0,185.79,20.18,-0.16,$552.50,$0.12
1,2008,FORD,CROWN VIC,Non-Hybrid,SEDAN,11,17162,1771.0,1560.18,9.69,-0.12,"$4,427.50",$0.26
2,2008,CHEVROLET,EXPRESS,Non-Hybrid,VAN,13,413,65.0,31.77,6.35,-0.51,$162.50,$0.39
3,2008,FORD,FOCUS,Non-Hybrid,SEDAN,24,13074,793.0,544.75,16.49,-0.31,"$1,982.50",$0.15
4,2008,FORD,FUSION,Non-Hybrid,SEDAN,18,29482,1813.0,1637.89,16.26,-0.10,"$4,532.50",$0.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,2019,CHEVROLET,EXPRESS,Non-Hybrid,VAN,13,10316,885.0,793.54,11.66,-0.10,"$2,212.50",$0.21
102,2019,FORD,F150,Non-Hybrid,PICKUP,16,56410,5419.0,3525.63,10.41,-0.35,"$13,547.50",$0.24
103,2019,FORD,F250,Non-Hybrid,PICKUP,12,84521,5449.0,7043.42,15.51,0.29,"$13,622.50",$0.16
104,2019,FREIGHTLINER,SPRINTER 3500,Non-Hybrid,VAN,15,3277,296.0,218.47,11.07,-0.26,$740.00,$0.23
105,2019,FORD,TRANSIT VAN,Non-Hybrid,VAN,20,29068,2331.0,1453.40,12.47,-0.38,"$5,827.50",$0.20

In [13]:
from password import password

In [14]:
from sqlalchemy import create_engine
engine = create_engine(f'postgresql://postgres:{password}@localhost:5432/CarSQL_DB')
connection = engine.connect()

In [17]:
import psycopg2
conn = psycopg2.connect(f'postgresql://postgres:{password}@localhost:5432/CarSQL_DB')
cur = conn.cursor()

In [35]:

cur.execute('''
            CREATE TABLE used_cars (
                year integer PRIMARY KEY,
                make VARCHAR(30) PRIMARY KEY,
                model VARCHAR(30) PRIMARY KEY,
                trim VARCHAR(30),
                body_type VARCHAR(30),
                vehicle_type VARCHAR(30),
                drivetrain VARCHAR(30),
                fuel_type VARCHAR(30),
                engine_size VARCHAR(30),
                )
            ''')

SyntaxError: syntax error at or near ")"
LINE 12:                 )
                         ^

In [36]:
import pyodbc

In [39]:
conn = psycopg2.connect(f'postgresql://postgres:{password}@localhost:5432/CarSQL_DB')
cursor = conn.cursor()

In [46]:
##create table
cursor.execute('
            CREATE TABLE used_cars (
                year integer PRIMARY KEY,
                make VARCHAR(30) PRIMARY KEY NOT NULL,
                model VARCHAR(30) PRIMARY KEY NOT NULL,
                trim VARCHAR(30) NOT NULL,
                body_type VARCHAR(30) NOT NULL,
                vehicle_type VARCHAR(30) NOT NULL,
                drivetrain VARCHAR(30) NOT NULL,
                fuel_type VARCHAR(30) NOT NULL,
                engine_size VARCHAR(30) NOT NULL,
                )')

SyntaxError: EOL while scanning string literal (Temp/ipykernel_11128/936847092.py, line 2)