In [41]:
import pandas as pd
from sqlalchemy import create_engine

Source: https://www.kaggle.com/rupeshraundal/marketcheck-automotive-data-us-canada
        
Context
MarketCheck's automotive data covers 8 years of inventory across the US and Canada. Each day our systems crawl and aggregate inventory from over 65k dealer websites to deliver the most comprehensive and up-to-date depictions of market activity available anywhere.

Individual listing records show year, make, model and trim, with VIN-level histories, showing the most recent time the car showed up online back to the earliest, with every change that occurred over that time.

Equipment breakdowns give fuel type, engine size, transmission, color, driveline and body style with links back to the VDP of the source we obtained the information from. The complete data dictionary can be found here - https://storage.googleapis.com/marketcheck-sample-feeds/cars_data_dictionary.xlsx
In addition to our car inventory data, Marketcheck also provide several other powerful APIs for CRM marketing scrubs, basic VIN decoding, OEM build data, recalls, dealer profiles, and market activity. Visit us for more details at www.marketcheck.com

Join the discussion at Marketcheck forum

In [47]:
csv_file = "Resources/used_cars.zip"
used_cars = pd.read_csv(csv_file)
used_cars.head()

,id,vin,price,miles,stock_no,year,make,model,trim,body_type,vehicle_type,drivetrain,transmission,fuel_type,engine_size,engine_block,city,state
0,28ee2068-66bb,ZFFRG43A5R0098567,NaN,13342.0,B1255C,1994.0,Ferrari,348,Spider,Convertible,NaN,NaN,NaN,NaN,3.4,V,Chicago,IL
1,d22d842c-ee2a,1B3BR65EXRV100761,41898.0,21208.0,P32613A,1994.0,Dodge,Viper,RT/10,Convertible,Car,RWD,Manual,Unleaded,8.0,V,Newark,OH
2,362f0565-89fd,JNKNG01D3RM263526,NaN,NaN,1276,1994.0,INFINITI,Q45,Base,Sedan,Car,RWD,Automatic,Unleaded,4.5,V,Decatur,GA
3,96fb40cf-fc22,1B3BR65EXRV100761,41898.0,21208.0,P32613A,1994.0,Dodge,Viper,RT/10,Convertible,Car,RWD,Manual,Unleaded,8.0,V,Marysville,OH
4,5701918a-4d82,1B3BR65EXRV100761,41895.0,21208.0,P32613A,1994.0,Dodge,Viper,RT/10,Convertible,Car,RWD,Manual,Unleaded,8.0,V,Heath,OH

In [48]:
used_cars = used_cars.drop(['id', 'vin', 'stock_no', 'city', 'state'], axis = 1)
used_cars

,price,miles,year,make,model,trim,body_type,vehicle_type,drivetrain,transmission,fuel_type,engine_size,engine_block
0,NaN,13342.0,1994.0,Ferrari,348,Spider,Convertible,NaN,NaN,NaN,NaN,3.4,V
1,41898.0,21208.0,1994.0,Dodge,Viper,RT/10,Convertible,Car,RWD,Manual,Unleaded,8.0,V
2,NaN,NaN,1994.0,INFINITI,Q45,Base,Sedan,Car,RWD,Automatic,Unleaded,4.5,V
3,41898.0,21208.0,1994.0,Dodge,Viper,RT/10,Convertible,Car,RWD,Manual,Unleaded,8.0,V
4,41895.0,21208.0,1994.0,Dodge,Viper,RT/10,Convertible,Car,RWD,Manual,Unleaded,8.0,V
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048572,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048573,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048574,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
used_cars.dropna()

,price,miles,year,make,model,trim,body_type,vehicle_type,drivetrain,transmission,fuel_type,engine_size,engine_block
1,41898.0,21208.0,1994.0,Dodge,Viper,RT/10,Convertible,Car,RWD,Manual,Unleaded,8.0,V
3,41898.0,21208.0,1994.0,Dodge,Viper,RT/10,Convertible,Car,RWD,Manual,Unleaded,8.0,V
4,41895.0,21208.0,1994.0,Dodge,Viper,RT/10,Convertible,Car,RWD,Manual,Unleaded,8.0,V
5,94995.0,29.0,1994.0,Dodge,Viper,RT,Convertible,Car,RWD,Manual,Unleaded,8.0,V
10,29900.0,7900.0,1994.0,Dodge,Viper,RT/10,Convertible,Car,RWD,Manual,Unleaded,8.0,V
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1046859,29230.0,0.0,2022.0,Kia,Sportage,EX,SUV,Truck,FWD,Automatic,Unleaded,2.4,I
1046860,35175.0,5.0,2022.0,Kia,Sportage,EX,SUV,Truck,4WD,Automatic,Unleaded,2.4,I
1046861,35175.0,5.0,2022.0,Kia,Sportage,EX,SUV,Truck,4WD,Automatic,Unleaded,2.4,I
1046863,37785.0,5.0,2022.0,Kia,Stinger,GT-Line,Hatchback,Car,RWD,Automatic,Premium Unleaded,2.5,I
1046865,40070.0,0.0,2022.0,Kia,Stinger,GT-Line,Hatchback,Car,4WD,Automatic,Premium Unleaded,2.5,I

In [52]:
used_cars.drop_duplicates()

,price,miles,year,make,model,trim,body_type,vehicle_type,drivetrain,transmission,fuel_type,engine_size,engine_block
0,NaN,13342.0,1994.0,Ferrari,348,Spider,Convertible,NaN,NaN,NaN,NaN,3.4,V
1,41898.0,21208.0,1994.0,Dodge,Viper,RT/10,Convertible,Car,RWD,Manual,Unleaded,8.0,V
2,NaN,NaN,1994.0,INFINITI,Q45,Base,Sedan,Car,RWD,Automatic,Unleaded,4.5,V
4,41895.0,21208.0,1994.0,Dodge,Viper,RT/10,Convertible,Car,RWD,Manual,Unleaded,8.0,V
5,94995.0,29.0,1994.0,Dodge,Viper,RT,Convertible,Car,RWD,Manual,Unleaded,8.0,V
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1046862,NaN,4.0,2022.0,Mitsubishi,Outlander,SEL Launch Edition,SUV,Truck,4WD,Automatic,Unleaded,2.5,I
1046863,37785.0,5.0,2022.0,Kia,Stinger,GT-Line,Hatchback,Car,RWD,Automatic,Premium Unleaded,2.5,I
1046864,NaN,NaN,2022.0,Mitsubishi,Outlander,SEL Launch Edition,SUV,Truck,4WD,Automatic,Unleaded,2.5,I
1046865,40070.0,0.0,2022.0,Kia,Stinger,GT-Line,Hatchback,Car,4WD,Automatic,Premium Unleaded,2.5,I
1046866,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,price,miles,year,make,model,trim,body_type,vehicle_type,drivetrain,transmission,fuel_type,engine_size,engine_block
1,41898.0,21208.0,1994.0,Dodge,Viper,RT/10,Convertible,Car,RWD,Manual,Unleaded,8.0,V
3,41898.0,21208.0,1994.0,Dodge,Viper,RT/10,Convertible,Car,RWD,Manual,Unleaded,8.0,V
4,41895.0,21208.0,1994.0,Dodge,Viper,RT/10,Convertible,Car,RWD,Manual,Unleaded,8.0,V
5,94995.0,29.0,1994.0,Dodge,Viper,RT,Convertible,Car,RWD,Manual,Unleaded,8.0,V
10,29900.0,7900.0,1994.0,Dodge,Viper,RT/10,Convertible,Car,RWD,Manual,Unleaded,8.0,V
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1046859,29230.0,0.0,2022.0,Kia,Sportage,EX,SUV,Truck,FWD,Automatic,Unleaded,2.4,I
1046860,35175.0,5.0,2022.0,Kia,Sportage,EX,SUV,Truck,4WD,Automatic,Unleaded,2.4,I
1046861,35175.0,5.0,2022.0,Kia,Sportage,EX,SUV,Truck,4WD,Automatic,Unleaded,2.4,I
1046863,37785.0,5.0,2022.0,Kia,Stinger,GT-Line,Hatchback,Car,RWD,Automatic,Premium Unleaded,2.5,I
1046865,40070.0,0.0,2022.0,Kia,Stinger,GT-Line,Hatchback,Car,4WD,Automatic,Premium Unleaded,2.5,I

In [55]:
csv_file2 = "Resources/real-world-fuel-efficiency-1.csv"
fuel_economy_ny = pd.read_csv(csv_file2)
fuel_economy_ny.head()

,YEAR,MAKE,MODEL,Hybrid/Non-Hybrid,STANDARD TYPE,EPA RATING (CITY),Vehicle Count,TOTAL ACTUAL MILES,TOTAL ACTUAL FUEL,EPA EXPECTED FUEL,ACTUAL FUEL ECONOMY Geotab,PERCENT % DIFFERENCE ACTUAL TO EPA,ESTIMATED FUEL COSTS PER GALLON,FUEL COSTS PER MILE
0,2008,HONDA,CIVIC GX,Non-Hybrid,SEDAN,24,9,4459,221.0,185.79,20.18,-0.16,$552.50,$0.12
1,2008,FORD,CROWN VIC,Non-Hybrid,SEDAN,11,7,17162,1771.0,1560.18,9.69,-0.12,"$4,427.50",$0.26
2,2008,CHEVROLET,EXPRESS,Non-Hybrid,VAN,13,1,413,65.0,31.77,6.35,-0.51,$162.50,$0.39
3,2008,FORD,FOCUS,Non-Hybrid,SEDAN,24,49,13074,793.0,544.75,16.49,-0.31,"$1,982.50",$0.15
4,2008,FORD,FUSION,Non-Hybrid,SEDAN,18,5,29482,1813.0,1637.89,16.26,-0.10,"$4,532.50",$0.15

In [56]:
fuel_economy_ny = fuel_economy_ny.drop('Vehicle Count', 1)
fuel_economy_ny

C:\Users\mandi\AppData\Local\Temp/ipykernel_11640/1540716452.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  fuel_economy_ny = fuel_economy_ny.drop('Vehicle Count', 1)

,YEAR,MAKE,MODEL,Hybrid/Non-Hybrid,STANDARD TYPE,EPA RATING (CITY),TOTAL ACTUAL MILES,TOTAL ACTUAL FUEL,EPA EXPECTED FUEL,ACTUAL FUEL ECONOMY Geotab,PERCENT % DIFFERENCE ACTUAL TO EPA,ESTIMATED FUEL COSTS PER GALLON,FUEL COSTS PER MILE
0,2008,HONDA,CIVIC GX,Non-Hybrid,SEDAN,24,4459,221.0,185.79,20.18,-0.16,$552.50,$0.12
1,2008,FORD,CROWN VIC,Non-Hybrid,SEDAN,11,17162,1771.0,1560.18,9.69,-0.12,"$4,427.50",$0.26
2,2008,CHEVROLET,EXPRESS,Non-Hybrid,VAN,13,413,65.0,31.77,6.35,-0.51,$162.50,$0.39
3,2008,FORD,FOCUS,Non-Hybrid,SEDAN,24,13074,793.0,544.75,16.49,-0.31,"$1,982.50",$0.15
4,2008,FORD,FUSION,Non-Hybrid,SEDAN,18,29482,1813.0,1637.89,16.26,-0.10,"$4,532.50",$0.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,2019,CHEVROLET,EXPRESS,Non-Hybrid,VAN,13,10316,885.0,793.54,11.66,-0.10,"$2,212.50",$0.21
102,2019,FORD,F150,Non-Hybrid,PICKUP,16,56410,5419.0,3525.63,10.41,-0.35,"$13,547.50",$0.24
103,2019,FORD,F250,Non-Hybrid,PICKUP,12,84521,5449.0,7043.42,15.51,0.29,"$13,622.50",$0.16
104,2019,FREIGHTLINER,SPRINTER 3500,Non-Hybrid,VAN,15,3277,296.0,218.47,11.07,-0.26,$740.00,$0.23
105,2019,FORD,TRANSIT VAN,Non-Hybrid,VAN,20,29068,2331.0,1453.40,12.47,-0.38,"$5,827.50",$0.20

In [13]:
from password import password

In [21]:
from sqlalchemy import create_engine
engine = create_engine(f'postgresql://postgres:{password}@localhost:5432/CarSQL_DB')
connection = engine.connect()

In [26]:
 engine.table_names()

C:\Users\mandi\AppData\Local\Temp/ipykernel_11640/1612904836.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

[]

In [27]:
fuel_economy_ny.to_sql(name='fuel_efficiency', con=engine, if_exists='append', index=False)

In [28]:
pd.read_sql_query('select * from fuel_efficiency', con=engine).head()

,YEAR,MAKE,MODEL,Hybrid/Non-Hybrid,STANDARD TYPE,EPA RATING (CITY),TOTAL ACTUAL MILES,TOTAL ACTUAL FUEL,EPA EXPECTED FUEL,ACTUAL FUEL ECONOMY Geotab,PERCENT % DIFFERENCE ACTUAL TO EPA,ESTIMATED FUEL COSTS PER GALLON,FUEL COSTS PER MILE
0,2008,HONDA,CIVIC GX,Non-Hybrid,SEDAN,24,4459,221.0,185.79,20.18,-0.16,$552.50,$0.12
1,2008,FORD,CROWN VIC,Non-Hybrid,SEDAN,11,17162,1771.0,1560.18,9.69,-0.12,"$4,427.50",$0.26
2,2008,CHEVROLET,EXPRESS,Non-Hybrid,VAN,13,413,65.0,31.77,6.35,-0.51,$162.50,$0.39
3,2008,FORD,FOCUS,Non-Hybrid,SEDAN,24,13074,793.0,544.75,16.49,-0.31,"$1,982.50",$0.15
4,2008,FORD,FUSION,Non-Hybrid,SEDAN,18,29482,1813.0,1637.89,16.26,-0.10,"$4,532.50",$0.15